body {
	margin: 0;
	background-color: bisque;
	font-family: 'Courier New', Courier, monospace;
}

p,
div {
	margin: 5px;
	background-color: lightcoral;
}

div > div {
	background-color: rebeccapurple;
}